@headerHeight: 60px;

#header {
  z-index: 1;
  width: 100%;
  height: @headerHeight;
  padding: 0 10px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color: white;
}

#header h2 {
  color: black;
}

#photos {
  background-color: white;
  margin-top: @headerHeight;

  align-items: center;

  display: grid;
  grid-gap: 2px 2px;
  grid-template-columns: repeat(3, 1fr);
}

@zoomAmount: 3%;
@photoRadius: 10px;

#photos .photo-wrapper .photo {
  animation: zoomOut 0.1s ease-out;
  transform: none;
  display: inline-block;
  width: calc(100vw / 3);
}

#photos .photo-wrapper[selected] .photo {
  animation: zoomIn 0.1s ease-out;
  transform: scale(unit(100% - 2 * @zoomAmount) / 100);
  border-radius: @photoRadius;
}

// @media (max-width: 1536px) {
@media (max-width: 1200px) {
  #photos {
    grid-template-columns: repeat(2, 1fr);
  }
  #photos .photo-wrapper .photo {
    width: calc(100vw / 2);
  }
}

// @media (max-width: 1024px) {
@media (max-width: 600px) {
  #photos {
    grid-template-columns: repeat(1, 1fr);
  }
  #photos .photo-wrapper .photo {
    width: calc(100vw / 1);
  }
}

@keyframes zoomIn {
  from {
    transform: none;
  }
  to {
    transform: scale(unit(100% - 2 * @zoomAmount) / 100);
  }
}

@keyframes zoomOut {
  from {
    transform: scale(unit(100% - 2 * @zoomAmount) / 100);
  }
  to {
    transform: none;
  }
}

#photos .photo-wrapper[selected] {
  position: relative;
}

#photos .photo-wrapper .check-icon {
  animation: moveOut 0.5s linear;
  opacity: 0;
}

#photos .photo-wrapper[selected] .check-icon {
  position: absolute;
  animation: moveIn 0.5s linear;
  opacity: 1;
  top: calc(@zoomAmount + @photoRadius);
  left: calc(@zoomAmount + @photoRadius);
  width: 30px;
  height: 30px;
  filter: invert(100%); // make black to white
  -webkit-filter: invert(100%);
}

#photos .photo-wrapper:not([selected]) .check-icon {
  display: none;
}

@keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#photos img::selection {
  color: transparent;
}