<h1 *ngIf="!name">
  Hallo! Log Dich doch mal ein..
</h1>
<h1 *ngIf="name">
  Hallo, {{ name }}! Schön, dass Du jetzt eingeloggt bist
</h1>

<button *ngIf="!name" class="btn btn-default" (click)="login()">
  Login
</button>

<button *ngIf="name" class="btn btn-default" (click)="logout()">
  Logout
</button>

<br />
<br />

<p>Anzahl auswählbarer Fotos:</p>
<input [value]="maxPhotoAmount" (input)="maxPhotoAmount = $event.target.value" type="number" />

<br />
<br />

<div *ngFor="let album of albums" class="album-row" (click)="selectAlbum(album)">
  <p>{{ album.title }}</p>
  <img src="{{ getAlbumUrl(album) }}" />
</div>